body {
    width: 100%;
    height: 100%;
    background:#000;
    color:white;
    font-family: 'Fraunces', serif;
}

.big_index_title{
    font-variant: small-caps;   
    font-size:100px;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 400px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

    .slideout-open .slideout-menu {
        display: block;
    }
