---
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@800&display=swap" rel="stylesheet">

    <title>Cards of Conquest</title>
    
    <style>
        
    /* phone */
    @media screen and (min-width:10px) and (max-width:1024px) {
        .text_box{margin-bottom: 1rem;}
        .workbench_link_mobile{display:block }
        .workbench_link_site{ display:none }
    }
        
    /* computer */
    @media screen and (min-width:1025px){
        .text_box{margin-bottom: -1rem;}
        .workbench_link_mobile{display:none }
        .workbench_link_site{ display:block }
    }
    </style>

</head>

<body>

<div class="fogwrapper">
<div id="foglayer_01" class="fog">
  <div class="image01"></div>
  <div class="image02"></div>
</div>
<div id="foglayer_02" class="fog">
  <div class="image01"></div>
  <div class="image02"></div>
</div>
<div id="foglayer_03" class="fog">
  <div class="image01"></div>
  <div class="image02"></div>
</div>
  </div>

    <div class="container-fluid" style="padding: 0 !important">
        <!-- <nav class="navbar navbar-toggleable-md">
            <nav class="navbar navbar-toggleable-md p-0 w-100">
                <button class="navbar-toggler p-0" style="margin-bottom:-10px" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="medium-quantext quantext-hamburger" style="cursor: pointer;"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto centerFlex" style="width: 100%;">
                        <li class="nav-item"><a class="nav-link" href="/index" style="padding-left: 0;">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
        </nav> -->
        <div style="position:relative;width:100%;height:100vh;background:url('{{ page.banner }}');background-size: cover;background-position: center;">
            <div style="position:absolute;top:0;bottom:0;right:0;left:0;display:flex;align-items:center;flex-direction:column">
                <div id="big_index_title" style="margin-top:auto">{{ page.title }}</div>
                <div id="big_index_subtitle" style="margin-bottom:auto">{{ page.subtitle }}</div>
                <a href="https://instagram.com/cardsofconquest" target="_blank" style="color:white;font-size:24px;padding:30px;">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <!-- <div class="pt-4">
            {% for block in site[page.blocks] %}
                {{ block }}
            {% endfor %}            

             <div style="background:#111;padding:2rem 0">
                <div style="max-width:1200px;margin:0 auto;display:flex;flex-wrap:wrap" class="quantext_footer pl-3 pr-3">
                    <ul style="padding-left: 0;list-style: none;width:50%">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <div class="pt-4" style="width:100%;color:white;font-size:2rem">
                        <a href="https://instagram.com/cardsofconquest" target="_blank"><i class="fab fa-instagram-square" style="color:white!important"></i></a>
                    </div>
                </div>
            </div> 
        </div>  -->

    </div><!-- /.container-fluid -->

</body>
    
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

</html>
